<% include header.ejs %>
<% include top-nav.ejs%>
<style>
    .active{
        background:lemonchiffon;
    }
</style>
<script>
 $(function(){
     function extendChild(event){
         event.stopPropagation();

         var $this =  $(this);
         if($this.data("extended")){
            $this.find("li").remove();
             $this.data("extended",0);
         }else{
             $this.data("extended",1);
             var uuid = $this.find('.uuid').text();
             $.get("/dae/uuid/" + uuid,function(node){
                 if(node && node.children){
                     for(var i in node.children){
                         var child = node.children[i];
                         console.log(child);
                         var li = '<li style="margin-left: 20px;">'
                                 + '<a  role="branch" class="tree-toggle closed" data-toggle="branch" class="name" style="cursor: pointer">' + child.key + '</a>'
                                 + '<a  target="_blank" href="/dae/uuid/'  + child.uuid +  ' "><span style="margin-left: 50px;float: right;" class="uuid">' + child.uuid + '</span>' + '</a>'
                                 + '</li>'
                         $(li).click(extendChild).hover(hover,leave).appendTo($this);
                     }
                 }
             })
         }

     }
     function hover(event){
         event.stopPropagation();
         console.log("add");
         $(this).parents("li").removeClass("active");
         $(this).addClass("active");
     }
     function leave(){
         event.stopPropagation();
         $(this).removeClass("active");
     }
     $("li").click(extendChild);

 })
</script>
<div class="container" style="margin-top: 100px;">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="list-group">
                <a href="#" class="list-group-item active">DAE FILES<span class="badge"><%=daeFiles.length%></span></a>

                    <%
                        daeFiles.forEach(function(file){
                         %>
                        <div class="list-group-item" >
                                <ul class="tree" style="margin: 0;font-size: 16px;">

                                    <li>
                                        <a   role="branch" class="tree-toggle closed" data-toggle="branch" class="name" style="cursor: pointer"><%=file.name%></a>
                                        <a  target="_blank" href="/dae/uuid/<%=file.uuid%> "> <span style="margin-left: 50px;float: right;" class="uuid"><%=file.uuid%></span></a>
                                    </li>
                                  </ul>
                        </div>
                    <%
                        })
                      %>
                <a class="list-group-item active"><span class="badge"><%=daeFiles.length%></span>Help</a>
            </div>
            <ul id="treeDemo" class="ztree"></ul>
        </div>
    </div>
</div>
<% include footer.ejs%>